@import url("Cardillac-Medium/cardillac.css");
h1 {
    font-family: Cardillac;
    font-size: 45px;
}

h2 {
    font-family: Cardillac;
    padding-top: 20px;
}

summary {
    font-size: 15px;
    opacity: 0.5;
}

p {
    font-size: 15px;
    opacity: 0.5;
}

.btn {
    border-radius: 0;
    font-family: Cardillac;
}

.sizing {
    width: 50%;
}

.width-adj {
    width: 37%;
}

.dis {
    flex: 1;
}

.logo {
    font-family: Cardillac;
}

.unique-background {
    background-color: rgb(79, 90, 100);
}

.customise {
    color: white;
    opacity: 0.7;
}

.customise:hover {
    color: white;
    opacity: 0.5;
}

.black {
    background-color: black;
}

@media screen and (max-width: 1200px) {
    .image {
        width: 100%;
    }
    .descrp-img {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .sizing {
        width: 100%;
    }
    .width-adj {
        width: 50%;
    }
    .to-be-flexed {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .width-adj {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .width-adj {
        width: 100%;
    }
    .top-space {
        margin-top: 40px;
    }
}

@media screen and (max-width: 361px) {
    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 368px) {
    .last-head {
        font-size: 19.8px;
    }
}
